<html>
  <head>
    <style>
      #footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: gray;
          color: white;
          text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Repos</h1>
    <table>
      <tr>
        <th>Package</th>
        <th>Links</th>
      </tr>
      {{ range $module, $redirectTo := .Modules }}
        <tr>
          <td><a href="//{{$redirectTo}}">{{ $module }}</a></td>
          <td>
            <a href="//{{$redirectTo}}">src</a>
            {{ if $.DocsEnabled }}
              <a href="/pkg/{{$module}}/">docs</a>
            {{ end }}
          </td>            
        </tr>
      {{ end }}
    </table>
    <div id="footer">
      powered by <a href="https://github.com/viamrobotics/govanity">govanity</a>
    </div>
  </body>
</html>
