<html>
    <head>
        <meta name="go-import" content="go.viam.com/{{.Repo}} git https://github.com/viamrobotics/{{.Repo}}">
        <meta name="go-source" content="go.viam.com/{{.Repo}} https://github.com/viamrobotics/{{.Repo}} https://github.com/viamrobotics/{{.Repo}}/tree/master{/dir} https://github.com/viamrobotics/{{.Repo}}/tree/master{/dir}/{file}#L{line}">
        <meta http-equiv="refresh" content="0; url=https://pkg.go.dev/go.viam.com/{{.Repo}}">
    </head>
    <body>
        Nothing to see here. Please <a href="https://pkg.go.dev/go.viam.com/{{.Repo}}">move along</a>.
    </body>
</html>
